body {
    margin: 0;
    background-color: rgb(78, 76, 76);
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: white;
    margin-left: 40px;
}

#pokemonMainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#pokemonClose {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 998;
}

#pokemon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#pokemonBottomContainer {
    background-color: white;
    padding-top: 20px;
    border-radius: 15px;
}

.headerPokemonContainer {
    display: flex;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-size: contain;
    height: 50%;
    flex-direction: column;
    min-width: 240px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin-bottom: -40px;
}

.headerPokemonImg {
    display: flex;
    justify-content: center;
}

.headerPokemonImg img {
    width: 150px;
}

.headerPokemonNameAndId {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select {
    cursor: pointer;
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: 600;
}

select:hover {
    background-color: #f0f0f0;
}

select:focus {
    border: 1px solid #007bff;
}

.pokemonContainer {
    display: flex;
    margin: 10px;
    border-radius: 15px;
    width: 250px;
    height: 160px;
    cursor: pointer;
    background-size: cover;
}

.pokemonInfoLeftContainer {
    flex: 1;
    padding: 10px;
}

.headerPokemonInfo {
    display: flex;
    flex-direction: column;
}

.headerPokemonBackAndFav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;

}

.pokemonInfoRightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
}

.pokemonName {
    color: rgb(21, 22, 21);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.pokemonCategory {
    font-size: 16px;
    color: #2e2d2d;
    background-color: rgba(255, 255, 255, 0.3);
    margin-top: 10px;
    border-radius: 100px;
    text-align: center;
}

.pokemonNumber {
    margin-right: 10px;
    font-size: 18px;
    color: rgb(21, 22, 21);
}

.pokemonInfoRightContainer img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

.displayNone {
    display: none;
}



.progressBar {
   border-radius: 20px;
}